# Extract

In [2]:
import pandas as pd

In [3]:
# Load the CSV file
file_path = r"D:\Projects\Github Repo\Data-Mining-Final-Project\MAL_dataset.csv"
df = pd.read_csv(file_path)

# Display the first few rows of the dataframe
df.count()

anime_id            24985
title               24985
type                24927
score               16050
scored_by           24985
status              24985
episodes            24438
start_date          24110
end_date            22215
source              21424
members             24985
favorites           24985
episode_duration    24387
total_duration      24162
rating              24405
sfw                 24985
approved            24985
created_at          24985
updated_at          24985
start_year          20301
start_season        20301
real_start_date     24110
real_end_date       22215
broadcast_day        3450
broadcast_time       3313
genres              24985
themes              24985
demographics        24985
studios             24985
producers           24985
licensors           24985
synopsis            20492
background           2450
main_picture        24831
url                 24985
trailer_url          4724
title_english       10402
title_japanese      24895
title_synonyms      24985
dtype: int64

# Transform

## Filtering Columns

In [4]:
# Specify the necessary columns
desired_columns = [
    'title', 'type', 'score', 'scored_by', 'episodes', 'favorites',
    'rating', 'start_year', 'start_season', 'genres', 'studios'
]

# Filter the DataFrame to keep only the desired columns
filtered_df = df[desired_columns]

# Display the filtered DataFrame (optional)
filtered_df.head()

,title,type,score,scored_by,episodes,favorites,rating,start_year,start_season,genres,studios
0,Fullmetal Alchemist: Brotherhood,tv,9.10,2037075,64.0,219036,r,2009.0,spring,"['Action', 'Adventure', 'Drama', 'Fantasy']",['Bones']
1,Hunter x Hunter (2011),tv,9.04,1671587,148.0,202109,pg_13,2011.0,fall,"['Action', 'Adventure', 'Fantasy']",['Madhouse']
2,Shingeki no Kyojin Season 3 Part 2,tv,9.05,1491491,10.0,55644,r,2019.0,spring,"['Action', 'Drama']",['Wit Studio']
3,Steins;Gate,tv,9.07,1348232,24.0,184312,pg_13,2011.0,spring,"['Drama', 'Sci-Fi', 'Suspense']",['White Fox']
4,Koe no Katachi,movie,8.94,1540277,1.0,84124,pg_13,2016.0,summer,"['Award Winning', 'Drama']",['Kyoto Animation']

In [47]:
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24985 entries, 0 to 24984
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         24985 non-null  object
 1   type          24927 non-null  object
 2   score         16050 non-null  float64
 3   scored_by     24985 non-null  int64
 4   episodes      24438 non-null  float64
 5   favorites     24985 non-null  int64
 6   rating        24405 non-null  object
 7   start_year    20301 non-null  float64
 8   start_season  20301 non-null  object
 9   genres        24985 non-null  object
 10  studios       24985 non-null  object
dtypes: float64(3), int64(2), object(6)
memory usage: 2.1+ MB

## Handling missing values

In [57]:
# Handling missing values for each column using dictionary approach
fill_values = {
    'title': 'Unknown Title',
    'type': 'Unknown Type',
    'score': filtered_df['score'].mean(),
    'scored_by': filtered_df['scored_by'].median(),
    'episodes': filtered_df['episodes'].median(),
    'favorites': 0,
    'rating': 'Unknown Rating',
    'start_year': filtered_df['start_year'].median(),
    'start_season': 'Unknown Season',
    'genres': 'Unknown Genre',
    'studios': 'Unknown Studio'
}

filtered_df.fillna(value=fill_values, inplace=True)
filtered_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24985 entries, 0 to 24984
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         24985 non-null  object
 1   type          24985 non-null  object
 2   score         24985 non-null  float64
 3   scored_by     24985 non-null  int64
 4   episodes      24985 non-null  float64
 5   favorites     24985 non-null  int64
 6   rating        24985 non-null  object
 7   start_year    24985 non-null  float64
 8   start_season  24985 non-null  object
 9   genres        24985 non-null  object
 10  studios       24985 non-null  object
dtypes: float64(3), int64(2), object(6)
memory usage: 2.1+ MB

C:\Users\Christian\AppData\Local\Temp\ipykernel_10732\2495629188.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df.fillna(value=fill_values, inplace=True)

In [49]:
filtered_df.head()

,title,type,score,scored_by,episodes,favorites,rating,start_year,start_season,genres,studios
0,Fullmetal Alchemist: Brotherhood,tv,9.10,2037075,64.0,219036,r,2009.0,spring,"['Action', 'Adventure', 'Drama', 'Fantasy']",['Bones']
1,Hunter x Hunter (2011),tv,9.04,1671587,148.0,202109,pg_13,2011.0,fall,"['Action', 'Adventure', 'Fantasy']",['Madhouse']
2,Shingeki no Kyojin Season 3 Part 2,tv,9.05,1491491,10.0,55644,r,2019.0,spring,"['Action', 'Drama']",['Wit Studio']
3,Steins;Gate,tv,9.07,1348232,24.0,184312,pg_13,2011.0,spring,"['Drama', 'Sci-Fi', 'Suspense']",['White Fox']
4,Koe no Katachi,movie,8.94,1540277,1.0,84124,pg_13,2016.0,summer,"['Award Winning', 'Drama']",['Kyoto Animation']

# Load

## Establish connection to MySQL

In [50]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://root:mYsT4nd4rdQu3rYL4ngu4g3@localhost/anime_database')

table_name = 'anime_data'

filtered_df.to_sql(name=table_name, con=engine, if_exists='replace', index=False)

print("Data successfully loaded into MySQL table:", table_name)

Data successfully loaded into MySQL table: anime_data